<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>{% block title %}DocCare | Login{% endblock title %}</title>
    <link rel="icon" type="image/x-icon" href="{{ url_for('static', filename='/images/DocCare favicon.ico') }}">
    <link rel="preconnect" href="https://fonts.googleapis.com">
    <link rel="preconnect" href="https://fonts.gstatic.com" crossorigin>
    <link href="https://fonts.googleapis.com/css2?family=Inter&display=swap" rel="stylesheet">
    <link href="https://fonts.googleapis.com/css2?family=Inter&family=Roboto&display=swap" rel="stylesheet">
    <link rel="stylesheet" href="{{ url_for('static', filename='style.css') }}">
</head>
<body>

    <a href="{{url_for('admin.dashboard')}}">Login Admin</a>
    <a href="{{url_for('doctor.dashboard')}}">Login Doctor</a>
    <a href="{{url_for('medtech.dashboard')}}">Login Medtech</a>
    <a href="{{url_for('receptionist.dashboard')}}">Login Receptionist</a>
    
</body>
</html>