<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>{% block title %}DocCare | Appointment{% endblock title %}</title>
    <link rel="icon" type="image/x-icon" href="{{ url_for('static', filename='/images/DocCare favicon.ico') }}">
    <link rel="preconnect" href="https://fonts.googleapis.com">
    <link rel="preconnect" href="https://fonts.gstatic.com" crossorigin>
    <link href="https://fonts.googleapis.com/css2?family=Inter&display=swap" rel="stylesheet">
    <link href="https://fonts.googleapis.com/css2?family=Inter&family=Roboto&display=swap" rel="stylesheet">
    <link rel="stylesheet" href="{{ url_for('static', filename='receptionist-style.css') }}">
</head>
<body>
    <div class="sidenav-bg">
        <div class="cms-logo">
            <img src="{{ url_for('static', filename='/images/DocCare Logo.png') }}">
            <p class="doc">Doc</p>
            <h4 class="care">Care</h4>
        </div>
        <ul>
            <a href="{{ url_for('receptionist.dashboard') }}">
                <li class="icon-bg">
                    <img src="{{ url_for('static', filename='images/Dashboard.png') }}"> 
                    <p>Dashboard</p>
                </li>
            </a>    
            <a href="{{ url_for('receptionist.calendar') }}">
                <li class="icon-bg">
                    <img src="{{ url_for('static', filename='images/Calendar.png') }}"> 
                    <p>Calendar</p>
                </li>
            </a>
            <li class="selected-icon-bg">
                <img src="{{ url_for('static', filename='images/Appointment.png') }}"> 
                <p>Appointment</p>
            </li>
            <a href="{{ url_for('receptionist.profile') }}">
                <li class="icon-bg">
                    <img src="{{ url_for('static', filename='images/Profile.png') }}"> 
                    <p>Profile</p>
                </li>
            </a>
        </ul>
        <div class="sidenav-user-bg">
            <img src="{{ url_for('static', filename='images/user.jpg') }}" class="user-img">
            <div>
                <h3>Eda Grace P.</h3>
                <p>Receptionist</p>
            </div>
        </div>
        <ul>
            <a href="{{ url_for('receptionist.logout') }}">
                <li>
                    <img src="{{ url_for('static', filename='images/Logout.png') }}">
                    <p>Logout</p>
                </li>
            </a>
        </ul>
    </div>
</body>
</html>